<form ngForm="form" (submit)="submit()">
  
    <div class="form-group">
      <input type="hidden" name="empId" [(ngModel)]="service.payrol.empId">
        <label for="empIdNo">EmpIdNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empIdNo"  name="empIdNo" class="form-control">
      </div>
  
      
      <div class="form-group">
        <label for="empNo">EmpNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empNo"  name="empNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empstdNo">EmpstdNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empstdNo"  name="empstdNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empHealthNo">EmpHealthNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empHealthNo"  name="empHealthNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empStatNo">EmpStatNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empStatNo"  name="empStatNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empPhonNo">EmpPhonNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empPhonNo"  name="empPhonNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empEmail">EmpEmail:</label>
        <input type="text" [(ngModel)]="service.payrol.empEmail"  name="empEmail" class="form-control">
      </div>

      <div class="form-group">
        <label for="empVoterno">EmpVoterno:</label>
        <input type="text" [(ngModel)]="service.payrol.empVoterno"  name="empVoterno" class="form-control">
      </div>

      <div class="form-group">
        <label for="empSupplyCardNo">EmpSupplyCardNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empSupplyCardNo"  name="empSupplyCardNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empApOrNo">EmpApOrNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empApOrNo"  name="empApOrNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empApOrDt">EmpApOrDt:</label>
        <input type="text" [(ngModel)]="service.payrol.empApOrDt"  name="empApOrDt" class="form-control">
      </div>

      <div class="form-group">
        <label for="empBirthCou">EmpBirthCou:</label>
        <input type="text" [(ngModel)]="service.payrol.empBirthCou"  name="empBirthCou" class="form-control">
      </div>

      <div class="form-group">
        <label for="empBirthGov">EmpBirthGov:</label>
        <input type="text" [(ngModel)]="service.payrol.empBirthGov"  name="empBirthGov" class="form-control">
      </div>

      <div class="form-group">
        <label for="empMinCo">EmpMinCo:</label>
        <input type="text" [(ngModel)]="service.payrol.empMinCo"  name="empMinCo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empUnCo">EmpUnCo:</label>
        <input type="text" [(ngModel)]="service.payrol.empUnCo"  name="empUnCo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empSubUntNo">EmpSubUntNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empSubUntNo"  name="empSubUntNo" class="form-control">
      </div>

      <div class="form-group">
        <label for="empSubUntGov">EmpSubUntGov:</label>
        <input type="text" [(ngModel)]="service.payrol.empSubUntGov"  name="empSubUntGov" class="form-control">
      </div>

      <div class="form-group">
        <label for="empFullName">EmpFullName:</label>
        <input type="text" [(ngModel)]="service.payrol.empFullName"  name="empFullName" class="form-control">
      </div>

      <div class="form-group">
        <label for="empFirNam">EmpFirNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empFirNam"  name="empFirNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empSecNam">EmpSecNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empSecNam"  name="empSecNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empTherNam">EmpTherNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empTherNam"  name="empTherNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empForthNam">EmpForthNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empForthNam"  name="empForthNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empAllakab">EmpAllakab:</label>
        <input type="text" [(ngModel)]="service.payrol.empAllakab"  name="empAllakab" class="form-control">
      </div>

      <div class="form-group">
        <label for="empDateofbirth">EmpDateofbirth:</label>
        <input type="text" [(ngModel)]="service.payrol.empDateofbirth"  name="empDateofbirth" class="form-control">
      </div>

      <div class="form-group">
        <label for="empMomNam">EmpMomNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empMomNam"  name="empMomNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empFirMomNam">EmpFirMomNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empFirMomNam"  name="empFirMomNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empCecMomNam">EmpCecMomNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empCecMomNam"  name="empCecMomNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empTherMomNam">EmpTherMomNam:</label>
        <input type="text" [(ngModel)]="service.payrol.empTherMomNam"  name="empTherMomNam" class="form-control">
      </div>

      <div class="form-group">
        <label for="empGender">EmpGender:</label>
        <input type="text" [(ngModel)]="service.payrol.empGender"  name="empGender" class="form-control">
      </div>

      <div class="form-group">
        <label for="empSalRec">EmpSalRec:</label>
        <input type="text" [(ngModel)]="service.payrol.empSalRec"  name="empSalRec" class="form-control">
      </div>

      <div class="form-group">
        <label for="empPerTyp">EmpPerTyp:</label>
        <input type="text" [(ngModel)]="service.payrol.empPerTyp"  name="empPerTyp" class="form-control">
      </div>

      <div class="form-group">
        <label for="empPepGrp">EmpPepGrp:</label>
        <input type="text" [(ngModel)]="service.payrol.empPepGrp"  name="empPepGrp" class="form-control">
      </div>

      <div class="form-group">
        <label for="empAsgStu">EmpAsgStu:</label>
        <input type="text" [(ngModel)]="service.payrol.empAsgStu"  name="empAsgStu" class="form-control">
      </div>

      <div class="form-group">
        <label for="empNumDyMrt">EmpNumDyMrt:</label>
        <input type="text" [(ngModel)]="service.payrol.empNumDyMrt"  name="empNumDyMrt" class="form-control">
      </div>

      <div class="form-group">
        <label for="empDngHotPlc">EmpDngHotPlc:</label>
        <input type="text" [(ngModel)]="service.payrol.empDngHotPlc"  name="empDngHotPlc" class="form-control">
      </div>

      <div class="form-group">
        <label for="empMarStu">EmpMarStu:</label>
        <input type="text" [(ngModel)]="service.payrol.empMarStu"  name="empMarStu" class="form-control">
      </div>

      <div class="form-group">
        <label for="empHelthInsEmp">EmpHelthInsEmp:</label>
        <input type="text" [(ngModel)]="service.payrol.empHelthInsEmp"  name="empHelthInsEmp" class="form-control">
      </div>

      <div class="form-group">
        <label for="empStaff">EmpStaff:</label>
        <input type="text" [(ngModel)]="service.payrol.empStaff"  name="empStaff" class="form-control">
      </div>

      <div class="form-group">
        <label for="empStaffRes">EmpStaffRes:</label>
        <input type="text" [(ngModel)]="service.payrol.empStaffRes"  name="empStaffRes" class="form-control">
      </div>

      <div class="form-group">
        <label for="empMedicalBen">EmpMedicalBen:</label>
        <input type="text" [(ngModel)]="service.payrol.empMedicalBen"  name="empMedicalBen" class="form-control">
      </div>

      <div class="form-group">
        <label for="empRadiBen">EmpRadiBen:</label>
        <input type="text" [(ngModel)]="service.payrol.empRadiBen"  name="empRadiBen" class="form-control">
      </div>

      <div class="form-group">
        <label for="empItem">EmpItem:</label>
        <input type="text" [(ngModel)]="service.payrol.empItem"  name="empItem" class="form-control">
      </div>

      <div class="form-group">
        <label for="empEmployer">EmpEmployer:</label>
        <input type="text" [(ngModel)]="service.payrol.empEmployer"  name="empEmployer" class="form-control">
      </div>

      <div class="form-group">
        <label for="empUpgrTb">EmpUpgrTb:</label>
        <input type="text" [(ngModel)]="service.payrol.empUpgrTb"  name="empUpgrTb" class="form-control">
      </div>

      <div class="form-group">
        <label for="empUpgrYe">EmpUpgrYe:</label>
        <input type="text" [(ngModel)]="service.payrol.empUpgrYe"  name="empUpgrYe" class="form-control">
      </div>

      <div class="form-group">
        <label for="empEmployerTyp">EmpEmployerTyp:</label>
        <input type="text" [(ngModel)]="service.payrol.empEmployerTyp"  name="empEmployerTyp" class="form-control">
      </div>

      <div class="form-group">
        <label for="empAppoSt">EmpAppoSt:</label>
        <input type="text" [(ngModel)]="service.payrol.empAppoSt"  name="empAppoSt" class="form-control">
      </div>

      <div class="form-group">
        <label for="empWorSt">EmpWorSt:</label>
        <input type="text" [(ngModel)]="service.payrol.empWorSt"  name="empWorSt" class="form-control">
      </div>

      <div class="form-group">
        <label for="empNati">EmpNati:</label>
        <input type="text" [(ngModel)]="service.payrol.empNati"  name="empNati" class="form-control">
      </div>

      <div class="form-group">
        <label for="empNaDt">EmpNaDt:</label>
        <input type="text" [(ngModel)]="service.payrol.empNaDt"  name="empNaDt" class="form-control">
      </div>


      <div class="form-group">
        <label for="empReligion">EmpReligion:</label>
        <input type="text" [(ngModel)]="service.payrol.empReligion"  name="empReligion" class="form-control">
      </div>


      <div class="form-group">
        <label for="empNaNo">EmpNaNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empNaNo"  name="empNaNo" class="form-control">
      </div>


      <div class="form-group">
        <label for="empBocCo">EmpBocCo:</label>
        <input type="text" [(ngModel)]="service.payrol.empBocCo"  name="empBocCo" class="form-control">
      </div>


      <div class="form-group">
        <label for="empLstUpdDt">EmpLstUpdDt:</label>
        <input type="text" [(ngModel)]="service.payrol.empLstUpdDt"  name="empLstUpdDt" class="form-control">
      </div>


      <div class="form-group">
        <label for="empNatIssProv">EmpNatIssProv:</label>
        <input type="text" [(ngModel)]="service.payrol.empNatIssProv"  name="empNatIssProv" class="form-control">
      </div>


      <div class="form-group">
        <label for="empStartDt">EmpStartDt:</label>
        <input type="text" [(ngModel)]="service.payrol.empStartDt"  name="empStartDt" class="form-control">
      </div>


      <div class="form-group">
        <label for="empLthServYear">EmpLthServYear:</label>
        <input type="text" [(ngModel)]="service.payrol.empLthServYear"  name="empLthServYear" class="form-control">
      </div>


      <div class="form-group">
        <label for="empLthServMonth">EmpLthServMonth:</label>
        <input type="text" [(ngModel)]="service.payrol.empLthServMonth"  name="empLthServMonth" class="form-control">
      </div>


      <div class="form-group">
        <label for="empServAd">EmpServAd:</label>
        <input type="text" [(ngModel)]="service.payrol.empServAd"  name="empServAd" class="form-control">
      </div>

      <div class="form-group">
        <label for="empServAdYear">EmpServAdYear:</label>
        <input type="text" [(ngModel)]="service.payrol.empServAdYear"  name="empServAdYear" class="form-control">
      </div>


      <div class="form-group">
        <label for="empServAdMonth">EmpServAdMonth:</label>
        <input type="text" [(ngModel)]="service.payrol.empServAdMonth"  name="empServAdMonth" class="form-control">
      </div>


      <div class="form-group">
        <label for="empServOutSalryYy">EmpServOutSalryYy:</label>
        <input type="text" [(ngModel)]="service.payrol.empServOutSalryYy"  name="empServOutSalryYy" class="form-control">
      </div>


      <div class="form-group">
        <label for="empServOutSalryMm">EmpServOutSalryMm:</label>
        <input type="text" [(ngModel)]="service.payrol.empServOutSalryMm"  name="empServOutSalryMm" class="form-control">
      </div>


      <div class="form-group">
        <label for="empRetNo">EmpRetNo:</label>
        <input type="text" [(ngModel)]="service.payrol.empRetNo"  name="empRetNo" class="form-control">
      </div>
        
        <input type="submit" style="margin-top: 15px; margin-bottom: 25px;" class="btn btn-dark btn-lg" value="Save Payrol">
  </form>